$fa-font-path: "../../webfonts";
$background-dark: #533f1a;
$background-light: #fce2a7;
$primary: #00b37a;
$highlight: #d43730;
$text-color-light: #FFF;
$text-color-dark: #343434;
$serif-font: "Cormorant", Georgia, "Times New Roman", serif;
